<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
  <div class="container-fluid">
    <img src="./assets/images/LogoVrol.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" id="logohead">
  <a class="navbar-brand" [routerLink]="['home']">Comunidad VROL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['games']">Juegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['calendar']">Calendario</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Links Utiles
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://chat.whatsapp.com/I5QDSLfNSI2BAhtc01hTPk">Chat whatsapp</a></li>
          <li><a class="dropdown-item" href="https://web.facebook.com/groups/1168027804123411">Facebook</a></li>
          <li><a class="dropdown-item" href="https://discord.gg/vfs4aVQfHp">Discord</a></li>
          <li><a class="dropdown-item" href="https://www.instagram.com/v_rolclub/">Instagram</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="https://forms.gle/xUiy9rVNs82mVQ228">Inscripcion Junta</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:oficialvrol@gmail.com">Contacto</a>
      </li>
    </ul>
    <div class="col-6"></div><div class="col-2"></div>
  </div>
</div>
</nav>
