<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7" id="textbox">
            <h1>Quienes Somos</h1>
            <p class="" id="QS">
                Somos una Comunidad que nacio de la Quinta Región y alrededores, quienes 
                tenemos un gran amor a los Juegos de Rol. <br>
                Nuestro objetivo es jugar, promover, difundir, gestionar espacios (virtuales y presenciales), 
                generar comunidad, y fomentar la cultura de los juegos de rol, para que estos sean mas 
                conocidos y así poder lograr que mas personas se unan a esta gran comunidad. <br>
                Queremos brindar un espacio seguro para que todos puedan aportar y sentirse parte de la 
                comunidad, por eso tenemos un conjunto de normas de convivencia, para así velar para que 
                todos y todas se sientan a gusto. Si no tienes experiencia en los Juegos de Rol, 
                no te preocupes, todos contamos con la vocacion de ensenar y nos encanta tener mas personas 
                que quieran aprender.
            </p>
            <h3>UNETE</h3>
        </div>

        <div class="col-sm-5"></div>
    </div>
</div>
