<div class="container-fluid" id="calendar">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-sm-10">
            <H5 class="caltex">Calendario de Eventos Actuales</H5>
                  <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23ffffff&ctz=America%2FSantiago&showTitle=0&showNav=1&showDate=1&showPrint=1&showTabs=0&showCalendars=0&src=b2ZpY2lhbHZyb2xAZ21haWwuY29t&color=%23AD1457" style="border:solid 1px #777" width="600" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col-1"></div>
    </div>
</div>
